NODE_ENV=
PORT=

# Database configuration
MONGO_URI=mongo_db_url

# JWT configuration
JWT_SECRET=jwt_secret

# Stripe configuration
STRIPE_SECRET_KEY=stripe_secret_key
STRIPE_WEBHOOK_SECRET=stripe_webhook_secret